.contact_form {
    padding: 50px 80px;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_form > p {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.label {
    display: block;
    font-size: 18px;
    width: 70px;
}

.form_input {
    border: 1px solid #3f3f3f;
    border-radius: 0px;
    padding: 5px;
}

.form_input:focus {
    outline: none;
}

.button_set {
    display: flex;
    justify-content: center;
}

.button_set > button {
    width: 100px;
    margin: 0px 10px;
    padding: 3px 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #3ba44f;
}
@media (max-width: 500px) {
    /* 모바일 */
}

@media (min-width: 501px) and (max-width: 767px) {
    /* 모바일 */
    .contact_form {
        width: 450px;
    }
    .label {
        font-size: 20px;
        width: 80px;
    }
    .form_input {
        padding: 5px;
        width: 200px;
        height: 40px;
        font-size: 16px;
    }
    .button_set {
        margin-top: 12px;
    }
    .button_set > button {
        width: 120px;
        padding: 5px 8px;
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* 태블릿 세로 */
    .contact_form {
        width: 550px;
        height: 400px;
    }
    .contact_form > p {
        margin-bottom: 12px;
    }
    .label {
        font-size: 22px;
        width: 100px;
    }
    .form_input {
        padding: 5px;
        width: 280px;
        height: 45px;
        font-size: 17px;
    }
    .button_set {
        margin-top: 20px;
    }
    .button_set > button {
        width: 120px;
        padding: 7px 10px;
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* 태블릿 가로 */
    .contact_form {
        width: 650px;
        height: 500px;
    }
    .contact_form > p {
        margin-bottom: 15px;
    }
    .label {
        font-size: 24px;
        width: 120px;
    }
    .form_input {
        padding: 5px;
        width: 350px;
        height: 50px;
        font-size: 19px;
    }
    .button_set {
        margin-top: 30px;
    }
    .button_set > button {
        width: 150px;
        padding: 10px 13px;
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    /* 데스크탑 일반 */
    .contact_form {
        width: 800px;
        height: 580px;
    }
    .contact_form > p {
        margin-bottom: 20px;
    }
    .label {
        font-size: 24px;
        width: 130px;
    }
    .form_input {
        padding: 5px;
        width: 420px;
        height: 50px;
        font-size: 20px;
    }
    .button_set {
        margin-top: 30px;
    }
    .button_set > button {
        width: 180px;
        padding: 12px 15px;
        font-size: 24px;
    }
}
