.startScreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 7vw;
    color: black;
}

.buttonSet {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.buttonSet > button {
    padding: 5px;
    margin: 0px 1vw;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 80px;
}

@media (max-width: 500px) {
    /* 모바일 */
    .title {
        font-size: 32px;
        color: black;
    }
    .buttonSet > button {
        font-size: 16px;
        margin: 0px 10px;
    }
    .scrollMessage {
        font-size: 16px;
    }
}

@media (min-width: 501px) and (max-width: 991px) {
    /* 태블릿 세로 */
    .buttonSet > button {
        font-size: 18px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* 태블릿 가로 */
}

@media (min-width: 1200px) {
    /* 데스크탑 일반 */
}
